
*.tlog
*.idb
*.log
*.pdb
*.ilk
*.exe
*.opendb
.vs/CPSC.2376.Code.Examples/v16/.suo
*.db
*.db-shm
*.db-wal
*.obj
*.ipch
*.db
.vs/CPSC.2376.Code.Examples/v16/.suo
*.db
.vs/CPSC.2376.Code.Examples/v16/Browse.VC.db
.vs/CPSC.2376.Code.Examples/v16/.suo
*.enc
*.db
.vs/CPSC.2376.Code.Examples/v16/.suo
*.db
.vs/CPSC.2376.Code.Examples/v16/.suo
*.vsidx
.vs/CPSC.2376.Code.Examples/v17/.suo
